
<main>

  <div class="container">

    <div class="row">
    <div class="col-md-6">
      <h2>Burgers To Eat!</h2>
        {{#each burgers}}
          {{#unless this.devoured}}
            <form action="/{{this.id}}?_method=PUT" method="POST">
              <input type="hidden" name="devoured" value="true">
              <button type="submit" class='Eat'>{{this.id}}. {{this.burger_name}}</button>
            </form>
          {{/unless}}
        {{/each}}
    </div>
    <div class="col-md-6">
      <h2>Burgers Ate!</h2>
        {{#each burgers}}
          {{#if this.devoured}}
            <form action="/{{this.id}}?_method=DELETE" method="POST">
              <input type="hidden" name="devoured" value="false">
              <button type="submit" class='Ate'>{{this.id}}. {{this.burger_name}}</button>
            </form>
        {{> burgers/delete-burger}}
        {{/if}}
      {{/each}}
    </div>
    </div>
  </div>


       <h2>Add a Burger!</h2>
        <div class="row justify-content-md-center">
           <form class="create-update-form" action="/" method="POST">
             <div class="form-group mx-lg-6">
             <input class="form-control form-control-lg"type="text" id="burg" name="name">
             <button type="submit" class="add">Enter</button>

           </form>
         </div>


  </div>

</main>

